doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
    link(rel='stylesheet' href='/resources/demos/style.css')
    link(rel='stylesheet' href='https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js') 
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js')
    script(src='../js/add.js')
    script(src='../js/update.js')
    script(src='../js/search.js')
    script(src='../js/delete.js')
    script(src='../js/table.js')
    title Database Management
    style
      include ../../public/css/style.css

  body
    include ../../menus/menus.html
    h2 SFcrimes Database Management
    
      form(action="/management/load", method="POST")
        button.btn.btn-load LOAD RECORD
        button.btn.btn-add ADD RECORD
        button.btn.btn-search SEARCH
    table#table_container.management_table
      thead
        tr.mangement_tr
          th.management_th IncidntNum
          th.management_th Category
          th.management_th DayOfWeek
          th.management_th Date
          th.management_th Time
          th.management_th PdDistrict
          th.management_th Resolution
          th.management_th Address
          th.management_th Operations
      tbody
        each data in datalist
          tr.mangement_tr
            td.management_td #{data.IncidntNum}
            td.management_td #{data.Category}
            td.management_td #{data.DayOfWeek}
            td.management_td #{data.Date}
            td.management_td #{data.Time}
            td.management_td #{data.PdDistrict}
            td.management_td #{data.Resolution}
            td.management_td #{data.Address}
            td.management_td 
              button.btn.btn-update(value="#{data._id}") UPDATE
              button.btn.btn-delete(value="#{data._id}") DELETE

    div(id="dialog-form1")
      form(action='/management/add' method='POST')
        label IncidntNum:
        br
        input#namecolor(type='number' name='incidntnum' placeholder='Number' required='')
        br
        label Category:
        br
        input#typecolor(type='text' name='category' placeholder='Category' required='')
        br
        label DayOfWeek:
        br
        input#typecolor(type='text' name='dayofweek' placeholder='Day' required='')
        br
        label Date:
        br
        input#typecolor(type='date' name='date' placeholder='Date' required='')
        br
        label Time:
        br
        input#typecolor(type='time' name='time' placeholder='Time' required='')
        br
        label PdDistrict:
        br
        input#typecolor(type='text' name='pddistrict' placeholder='Location' required='')
        br
        label Resolution:
        br
        input#typecolor(type='text' name='resolution' placeholder='Resolution' required='')
        br
        label Address:
        br
        input#typecolor(type='text' name='address' placeholder='Address' required='')
        br
        br
        input(type='submit' value='Add')

    div(id="dialog-form2")
      form(action='/management/update' method='POST')
        input(type='text' name='id' style="display:none")
        label IncidntNum:
        br
        input#namecolor(type='number' name='incidntnum' placeholder='Number' required='')
        br
        label Category:
        br
        input#typecolor(type='text' name='category' placeholder='Category' required='')
        br
        label DayOfWeek:
        br
        input#typecolor(type='text' name='dayofweek' placeholder='Day' required='')
        br
        label Date:
        br
        input#typecolor(type='date' name='date' placeholder='Date' required='')
        br
        label Time:
        br
        input#typecolor(type='time' name='time' placeholder='Time' required='')
        br
        label PdDistrict:
        br
        input#typecolor(type='text' name='pddistrict' placeholder='Location' required='')
        br
        label Resolution:
        br
        input#typecolor(type='text' name='resolution' placeholder='Resolution' required='')
        br
        label Address:
        br
        input#typecolor(type='text' name='address' placeholder='Address' required='')
        br
        br
        input(type='submit' value='UPDATE')

    div(id="dialog-confirm")
      form(action='/management/delete' method='post')
        label These data will be permanently deleted and cannot be recovered. Are you sure?
        input(type='text' name='id' style="display:none")
        input(type='submit' value='DELETE')

    div(id="dialog-form3")
      form(action='/management/:type' method='POST')
        label Type:
        br
        input#typecolor(type='text' name='type' placeholder='Type' required='')
        br
        br
        input(type='submit' value='search')
    