doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
    link(rel='stylesheet' href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js') 
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    title Database Management
    style
      include ../../public/css/style.css

  body
    h2 Coronavirus Database Management
    table.management_table
      tbody
        tr.mangement_tr
          th.management_th Country
          th.management_th Total
          th.management_th New
          th.management_th Date
          th.management_th Operation
        each data in datalist
          tr.mangement_tr
            td.management_td #{data.country}
            td.management_td #{data.total}
            td.management_td #{data.new}
            td.management_td #{data.dt}
            td.management_td 
              button.btn.btn-update(value="#{data._id}") UPDATE
              button.btn.btn-delete(value="#{data._id}") DELETE
    .center-add
      button.btn.btn-add ADD

    div(id="dialog-form1")
      form(action='management' method='POST')
        label Country:
        br
        input(type='text' name='countryname' placeholder='Country' required='')
        br
        label Total:
        br
        input(type='number' name='totalnumber' placeholder='Total Number' required='')
        br
        label New:
        br
        input(type='number' name='newnumber' placeholder='New cases' required='')
        br
        label Date:
        br
        input(type='date' name='date' placeholder='Date' required='')
        br
        br
        input(type='submit' value='Add')

    div(id="dialog-form2")
      form(action='update' method='POST')
        input(type='text' name='id' style="display:none")
        label Country:
        br
        input(type='text' name='countryname' placeholder='Country' required='')
        br
        label Total:
        br
        input(type='number' name='totalnumber' placeholder='Total Number' required='')
        br
        label New:
        br
        input(type='number' name='newnumber' placeholder='New cases' required='')
        br
        label Date:
        br
        input(type='date' name='date' placeholder='Date' required='')
        br
        br
        input(type='submit' value='UPDATE')

    div(id="dialog-confirm")
      form(action='delete' method='post')
        label These data will be permanently deleted and cannot be recovered. Are you sure?
        input(type='text' name='id' style="display:none")
        input(type='submit' value='DELETE')

      script.
        $(function(){
          var dialog, form;
          dialog = $("#dialog-form1").dialog({
            autoOpen:false,
            modal:true,
            close: function(){}
          });
          $(".btn-add").button().on('click', function(){
            dialog.dialog( "open" );
          });
        })
        $(function(){
          var dialog, form;
          dialog = $("#dialog-form2").dialog({
            autoOpen:false,
            modal:true,
            close: function(){}
          });
          $(".btn-update").button().on('click', function(){
            dialog.dialog( "open" );
            var countryname = $(this).parents("tr").find("td").eq(0).text();
            var totalnum = $(this).parents("tr").find("td").eq(1).text();
            var newnum = $(this).parents("tr").find("td").eq(2).text();
            var date = $(this).parents("tr").find("td").eq(3).text();
            var id = $(this).parents("tr").find("td").eq(4).find('.btn-update').val();
            $("input[name=countryname]").val(countryname);
            $("input[name=totalnumber]").val(totalnum);
            $("input[name=newnumber]").val(newnum);
            $("input[name=date]").val(date);
            $("input[name=id]").val(id);
          });
        })
        
        $(function(){
          var dialog;
          dialog = $("#dialog-confirm").dialog({
          autoOpen:false,
          modal: true,
          close: function(){}
          });
          $(".btn-delete").button().on('click', function(){
            dialog.dialog( "open" );
            var id = $(this).parents("tr").find("td").eq(5).find('.btn-delete').val();
            $("input[name=id]").val(id);
          });
        })


 








