doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
    link(rel='stylesheet' href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js') 
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='../js/add.js')
    script(src='../js/update.js')
    script(src='../js/search.js')
    script(src='../js/delete.js')
    title Database Management
    style
      include ../../public/css/style.css

  body
    include ../../menus/menus.html
    h2 Coronavirus Database Management
    .center-add
      form(action="/management/load", method="POST")
        button(type="submit").btn.btn-load LOAD RECORD
      button.btn.btn-add ADD RECORD
    .center-add  
        button.btn.btn-search SEARCH
    table.management_table
      tbody
        tr.mangement_tr
          th.management_th Country
          th.management_th Date
          th.management_th Type
          th.management_th Total
          th.management_th New
          th.management_th Operation
        each data in datalist
          tr.mangement_tr
            td.management_td #{data.country}
            td.management_td #{data.dt}
            td.management_td #{data.type}
            td.management_td #{data.totalCases}
            td.management_td #{data.newCases}
            td.management_td 
              button.btn.btn-update(value="#{data._id}") UPDATE
              button.btn.btn-delete(value="#{data._id}") DELETE

    div(id="dialog-form1")
      form(action='/management/add' method='POST')
        label Country:
        br
        input(type='text' name='countryname' placeholder='Country' required='')
        br
        label Date:
        br
        input(type='date' name='date' placeholder='Date' required='')
        br
        label Type:
        br
        input(type='text' name='type' placeholder='Type' required='')
        br
        label Total:
        br
        input(type='number' name='totalnumber' placeholder='Total Number' required='')
        br
        label New:
        br
        input(type='number' name='newnumber' placeholder='New cases' required='')
        br
        br
        input(type='submit' value='Add')

    div(id="dialog-form2")
      form(action='/management/update' method='POST')
        input(type='text' name='id' style="display:none")
        label Country:
        br
        input(type='text' name='countryname' placeholder='Country' required='')
        br
        label Date:
        br
        input(type='date' name='date' placeholder='Date' required='')
        br
        label Type:
        br
        input(type='text' name='type' placeholder='Type' required='')
        br
        label Total:
        br
        input(type='number' name='totalnumber' placeholder='Total Number' required='')
        br
        label New:
        br
        input(type='number' name='newnumber' placeholder='New cases' required='')
        br
        br
        input(type='submit' value='UPDATE')

    div(id="dialog-confirm")
      form(action='/management/delete' method='post')
        label These data will be permanently deleted and cannot be recovered. Are you sure?
        input(type='text' name='id' style="display:none")
        input(type='submit' value='DELETE')

    div(id="dialog-form3")
      form(action='/management/:type' method='POST')
        label Type:
        br
        input(type='text' name='type' placeholder='Type' required='')
        br
        br
        input(type='submit' value='search')

      

 








