doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css') 
    link(rel='stylesheet' href='/resources/demos/style.css')
    script(src='https://code.jquery.com/jquery-1.12.4.js') 
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    title Database Management
    style
      include ../../public/css/style.css

  body
    h2 Coronavirus Database Management
    table.management_table
      tbody
        tr.mangement_tr
          th.management_th Country
          th.management_th Total
          th.management_th New
          th.management_th Date
          th.management_th Operation
        each data in datalist
          tr.mangement_tr
            td.management_td #{data.country}
            td.management_td #{data.total}
            td.management_td #{data.new}
            td.management_td #{data.dt}
            td.management_td 
              button.btn.btn-update(value="#{data._id}") UPDATE
              button.btn.btn-delete(value="#{data._id}") DELETE
    .center-add
      button.btn.btn-add ADD

    div(id="dialog-form")
      form(action='management' method='POST')
        label Country:
        br
        input(type='text' name='countryname' placeholder='Country' required='')
        br
        label Total:
        br
        input(type='number' name='totalnumber' placeholder='Total Number' required='')
        br
        label New:
        br
        input(type='number' name='newnumber' placeholder='New cases' required='')
        br
        label Date:
        br
        input(type='date' name='date' placeholder='Date' required='')
        br
        br
        input(type='submit' value='Add')

      script.
        $(function(){
          var dialog, form;
          dialog = $("#dialog-form").dialog({
            autoOpen:false,
            //- heigth:400,
            //- width:350,
            modal:true,
            close: function(){}
          });
          $(".btn-add").button().on('click', function(){
            dialog.dialog( "open" );
          });
          $(".btn-update").button().on('click', function(){
            debugger
            dialog.dialog( "open" );
          });
        })


 








